<!DOCTYPE html>
<html>
<head>
    <title>Customer_data</title>
    <style>

    </style>
  </head>
<body>
  <h2 class="subtitle">1.- DATOS DEL CLIENTE</h2>
<table border="1">
        <tr>
          <th class="th-header">
            NOMBRE DEL SOLICITANTE
          </th>
          <th class="th-header">
            CI DEL SOLICITANTE
          </th>
          {% if customer.nup %}
          <th class="th-header">
            NUP
          </th>
          {% endif %}
        </tr>
        <tr>
          <td >{{ customer.name }}</td>
          <td >{{ customer.nit }}</td>
          {% if customer.nup %}
            <td>{{ customer.nup }}</td>
          {% endif %}
        </tr>
        </tr>
        {% if customer.institution_name %}
        <tr>
          <th class="th-header">INSTITUCIÓN</th>
          <td class="th-header">NIT</td>
        </tr>
        <tr>
          <td >{{ customer.institution_name }}</td>
          <td >{{customer.institution_nit}}</td>
        </tr>
        {%endif%}
      </table>
</body>
</html>
