<!DOCTYPE html>
<html>
<head>
    <title>Customer_data</title>
    <style>

    </style>
  </head>
<body>
<table border="1">
  <h2 class="subtitle"> 2.- INFORMACIÓN DE LOS AMBIENTES</h2>
    </table> {% endcomment %}
    {% for selected_product in selected_products %}
    <table>
      <tr>
          <th class="th-header">
            NOMBRE DEL SALÓN SOLICITADO
          </th>
          <th class="th-header">
            FECHA DE EVENTO (DÍA)
          </th>
      </tr>

      <tr style="border-top: solid; border-left: solid; border-right: solid;">
        <td>
          {{ selected_product.product.room.name }}
        </td>
        <td >
          {{ selected_product.start_time }}
      </td>
      </tr>
      <tr style="border-left: solid; border-right: solid;">
          <th class="th-header">TIPO DE EVENTO</th>
          <th class="th-header">CANTIDAD DE HORAS DE USO</th>
      </tr>
      <tr style="border-left: solid; border-right: solid;">
        <td>
          {{ selected_product.event_type.name }}
        </td>
        <td>
          {{ selected_product.product.hour_range.time }} Horas
        </td>
      </tr>
      <tr style="border-left: solid; border-right: solid;">
          <th class="th-header">HORA DE INICIO DEL EVENTO</th>
          <th class="th-header">HORA DE FINALIZACIÓN DEL EVENTO</th>
      </tr>
      <tr style="border-left: solid; border-right: solid;">
        <td >
          {{ selected_product.start_time_only_hour }}
        </td>
        <td >
          {{ selected_product.end_time_only_hour }}
        </td>
      </tr>
      <tr style="border-left: solid; border-right: solid;">
        <th class="th-header">PRECIO</th>
        <th class="th-header">GARANTÍA</th>
      </tr>
      <tr style="border-left: solid; border-right: solid; border-bottom: solid;">
        <td>
          {{ selected_product.product_price }}
        </td>
        <td >
            {{ selected_product.product.room.warranty }}
        </td>
        </tr>
  </table>
  {%endfor%}
</body>
</html>
